{% extends "base.html" %}
{% load static %}
{% block title %}
The Signup page
{% endblock %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'Registrationpage/style.css' %}">
{% endblock  %}
{% block content %}
<form action="/registrationpage" method="POST">
{% csrf_token %}
{% for field in form %}
    <div class="form-control">
        {{field.label_tag}}
        {{field}}
        {% if field.errors %}
            <ul>
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endfor %}
{% if messages %}
    <ul class="message-list">
        {% for message in messages %}
            <li{% if message.tags %} class="message-list-error" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<button>Submit button</button>
</form>
{% endblock %}